<template>
  <v-form class="account-view">
    <div class="wrapper">

      <h1>Change password</h1>

      <ChangePasswordForm />

      <router-link
        class="account-link"
        :to="{ name:'login', query: this.$route.query }"
      >
        Remembered your password? <strong>Log in</strong>.
      </router-link>

    </div>
  </v-form>
</template>


<script>

  import ChangePasswordForm from '../components/account/ChangePasswordForm'

  export default {
    name: 'ChangePasswordView',

    components: {
      ChangePasswordForm
    }
  }

</script>


<style lang="scss">
  @import 'account-view.scss';
</style>