<template>
  <section class="component-preview">

    <v-row justify="center" class="logo">
      <v-col cols="3" align-self="center">
        <Logo />
      </v-col>
    </v-row>

    <v-row justify="center" class="logo">
      <v-col class="content" md="9" cols="12">
        <h1>Welcome to the Helium frontend boilerplate, Heliox</h1>
        Here's a demo of all the components contained within it:
      </v-col>
    </v-row>

    <v-card v-for="component in components" :key="component" outlined elevation="2">
      <h3>{{ component }}</h3>
      <Component v-bind:is="component" />
    </v-card>

  </section>
</template>


<script>

  import Vue from 'vue'

  const componentContext = require.context('@/components', true, /\.vue$/i)

  var components = []

  componentContext.keys().forEach(
    (componentPath) => {
      const
        name = componentPath.split('/').pop().split('.')[0],
        context = componentContext(componentPath)
      Vue.component(name, context.default)
      components.push(name)
    }
  )

  export default {
    name: 'ComponentView',
    data: function() {
      return {
        components
      }
    }
  }

</script>


<style lang="scss">

  .component-preview {
    padding: 0 10vw;

    .v-card{
      margin: 2em 0;
      padding: 1em 3em 2em;

      h3{
        margin: 0 0 1em;
      }
    }
  }

</style>