<template>
  <div class="home-view">
    <v-row align="center" class="logo" no-gutters>

      <v-col cols="12">

        <h1>{{schema.title}}</h1>

        <SchemaForm
          wizard
          :schema="schema"
        />

      </v-col>

    </v-row>
  </div>
</template>

<script>

  import SchemaForm from "@/components/data/form/SchemaForm"

  export default {
    name: 'HomeView',
    components: {
      SchemaForm
    },
    data: function() {
      return {
        schema: require('@/assets/test-schema.json')
      }
    }
  }

</script>


<style lang="scss">

  .home-view{

    .row{
      margin: auto;
      max-width: 750px;
    }

    .col{

      .logo{
        margin: 0 auto;
      }

      .content{
        flex-grow: 1;
      }
    }
  }

</style>
