<template>
  <v-form class="account-view">
    <div class="wrapper">

      <h1>Log in</h1>

      <LoginForm />

      <router-link
        class="account-link"
        :to="{ name:'recover', query: this.$route.query }"
      >
        Forgot your password? <strong>Reset your password</strong>.
      </router-link>

    </div>
  </v-form>
</template>


<script>

  import LoginForm from "../components/account/LoginForm"

  export default {
    name: 'LoginView',
    components: {
      LoginForm
    }
  }

</script>


<style lang="scss">
  @import 'account-view.scss';
</style>