<template>
  <v-form class="account-view">
    <div class="wrapper">

      <h1>Reset password</h1>

      <ResetPasswordForm />

      <router-link
        class="account-link"
        :to="{ name:'login', query: this.$route.query }"
      >
        Remembered your password? <strong>Log in</strong>.
      </router-link>

    </div>
  </v-form>
</template>


<script>

  import ResetPasswordForm from '../components/account/ResetPasswordForm'

  export default {
    name: 'ResetPasswordView',
    components: {
      ResetPasswordForm
    }
  }

</script>


<style lang="scss">
  @import 'account-view.scss';
</style>