<template>
  <v-app>
    <div id="app">
      <router-view/>
    </div>
  </v-app>
</template>


<style lang="scss">

  #app {
    text-align: center;
    color: #333;

    h1{
      margin-bottom: 2em;
    }
  }

</style>
